In [151]:
## Brazilian E-Commerce Public Dataset by Olist

#Welcome! This is a Brazilian ecommerce public dataset of orders made at Olist Store. 
#The dataset has information of 100k orders from 2016 to 2018 made at multiple marketplaces in Brazil. 
#Its features allows viewing an order from multiple dimensions: from order status, price, payment and freight performance to customer location, product attributes and finally reviews written by customers. 
#We also released a geolocation dataset that relates Brazilian zip codes to lat/lng coordinates.

#This is real commercial data, it has been anonymised, and references to the companies and partners in the review text have been replaced with the names of Game of Thrones great houses.

#Context
#This dataset was generously provided by Olist, the largest department store in Brazilian marketplaces. Olist connects small businesses from all over Brazil to channels without hassle and with a single contract. 
#Those merchants are able to sell their products through the Olist Store and ship them directly to the customers using Olist logistics partners. See more on our website: www.olist.com

#After a customer purchases the product from Olist Store a seller gets notified to fulfill that order. 
#Once the customer receives the product, or the estimated delivery date is due, the customer gets a satisfaction survey by email where he can give a note for the purchase experience and write down some comments.

#Attention
#An order might have multiple items.
#Each item might be fulfilled by a distinct seller.
#All text identifying stores and partners where replaced by the names of Game of Thrones great houses.

In [152]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import datetime
import os

In [153]:
#Import the database
path = r'C:\Users\Mary\Desktop\Data Analyst CF\Part 6'

In [154]:
customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'olist_customers_dataset.csv'), index_col = False)
geolocation = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'olist_geolocation_dataset.csv'), index_col = False)
order_items = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'olist_order_items_dataset.csv'), index_col = False)
payments = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'olist_order_payments_dataset.csv'), index_col = False)
reviews = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'olist_order_reviews_dataset.csv'), index_col = False)
orders = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'olist_orders_dataset.csv'), index_col = False)
products = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'olist_products_dataset.csv'), index_col = False)
sellers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'olist_sellers_dataset.csv'), index_col = False)
categories = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'product_category_name_translation.csv'), index_col = False)

In [155]:
def overview(dataframe):
    """This function will return the overview of the dataframe"""
    
    print("Shape of the dataframe is : {}".format(dataframe.shape))
    print("**"*30)
    print("Information about features : ",dataframe.info())
    print("**"*30)
    print("Total number of null values : \n ",dataframe.isnull().sum())
    print("**"*30)
    print("Description : \n ",dataframe.describe())
    print("**"*30)
    
    return dataframe.head(5)

In [156]:
## Overview of database

In [157]:
# Customers
overview(customers)

Shape of the dataframe is : (99441, 5)
************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
Information about features :  None
************************************************************
Total number of null values :
  customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64
************************************************************
Description :
         customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000
************************************************************

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [158]:
#Geolocation
overview(geolocation)

Shape of the dataframe is : (1000163, 5)
************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB
Information about features :  None
************************************************************
Total number of null values :
  geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64
************************************************************
Description :
         geolocation_zip_code_prefix  geolocation_lat  geolocation_lng
count                 1.000163e+06     1.000163e+06     1.000163e+06
mean                  3.657417e+04    -2.117615e+01    -4.639054e+01
std                   3.054934e+04     5.715866e+00     4.269748e+00
min                   1.001000e+03    -3.660537e+01    -1.014668e+02
25%                   1.107500e+04    -2.360355e+01    -4.857317e+01
50%                   2.653000e+04    -2.291938e+01    -4.663788e+01
75%                   6.350400e+04    -1.997962e+01    -4.376771e+01
max                   9.999000e+04     4.506593e+01     1.211054e+02
************************************************************

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [159]:
#Order Items
overview(order_items)

Shape of the dataframe is : (112650, 7)
************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB
Information about features :  None
************************************************************
Total number of null values :
  order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64
************************************************************
Description :
         order_item_id          price  freight_value
count  112650.000000  112650.000000  112650.000000
mean        1.197834     120.653739      19.990320
std         0.705124     183.633928      15.806405
min         1.000000       0.850000       0.000000
25%         1.000000      39.900000      13.080000
50%         1.000000      74.990000      16.260000
75%         1.000000     134.900000      21.150000
max        21.000000    6735.000000     409.680000
************************************************************

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [160]:
#Payments
overview(payments)

Shape of the dataframe is : (103886, 5)
************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB
Information about features :  None
************************************************************
Total number of null values :
  order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64
************************************************************
Description :
         payment_sequential  payment_installments  payment_value
count       103886.000000         103886.000000  103886.000000
mean             1.092679              2.853349     154.100380
std              0.706584              2.687051     217.494064
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      56.790000
50%              1.000000              1.000000     100.000000
75%              1.000000              4.000000     171.837500
max             29.000000             24.000000   13664.080000
************************************************************

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [161]:
#Reviews
overview(reviews)

Shape of the dataframe is : (99224, 7)
************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB
Information about features :  None
************************************************************
Total number of null values :
  review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64
************************************************************
Description :
         review_score
count  99224.000000
mean       4.086421
std        1.347579
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max        5.000000
************************************************************

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [162]:
#Orders
overview(orders)

Shape of the dataframe is : (99441, 8)
************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
Information about features :  None
************************************************************
Total number of null values :
  order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64
************************************************************
Description :
                                  order_id                       customer_id  \
count                              99441                             99441
unique                             99441                             99441
top     cbd5da59166957ccd5a0c52607f2e98d  8f203ddc3edd825c2615de33ff9c11a3
freq                                   1                                 1

       order_status order_purchase_timestamp    order_approved_at  \
count         99441                    99441                99281
unique            8                    98875                90733
top       delivered      2018-04-11 10:48:14  2018-02-27 04:31:10
freq          96478                        3                    9

       order_delivered_carrier_date order_delivered_customer_date  \
count                         97658                         96476
unique                        81018                         95664
top             2018-05-09 15:48:00           2018-05-08 23:38:46
freq                             47                             3

       order_estimated_delivery_date
count                          99441
unique                           459
top              2017-12-20 00:00:00
freq                             522
************************************************************

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [163]:
#Products
overview(products)

Shape of the dataframe is : (32951, 9)
************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
Information about features :  None
************************************************************
Total number of null values :
  product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64
************************************************************
Description :
         product_name_lenght  product_description_lenght  product_photos_qty  \
count         32341.000000                32341.000000        32341.000000
mean             48.476949                  771.495285            2.188986
std              10.245741                  635.115225            1.736766
min               5.000000                    4.000000            1.000000
25%              42.000000                  339.000000            1.000000
50%              51.000000                  595.000000            1.000000
75%              57.000000                  972.000000            3.000000
max              76.000000                 3992.000000           20.000000

       product_weight_g  product_length_cm  product_height_cm  \
count      32949.000000       32949.000000       32949.000000
mean        2276.472488          30.815078          16.937661
std         4282.038731          16.914458          13.637554
min            0.000000           7.000000           2.000000
25%          300.000000          18.000000           8.000000
50%          700.000000          25.000000          13.000000
75%         1900.000000          38.000000          21.000000
max        40425.000000         105.000000         105.000000

       product_width_cm
count      32949.000000
mean          23.196728
std           12.079047
min            6.000000
25%           15.000000
50%           20.000000
75%           30.000000
max          118.000000
************************************************************

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [164]:
#Sellers
overview(sellers)

Shape of the dataframe is : (3095, 4)
************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB
Information about features :  None
************************************************************
Total number of null values :
  seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64
************************************************************
Description :
         seller_zip_code_prefix
count             3095.000000
mean             32291.059451
std              32713.453830
min               1001.000000
25%               7093.500000
50%              14940.000000
75%              64552.500000
max              99730.000000
************************************************************

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [165]:
#Categories
overview(categories)

Shape of the dataframe is : (71, 2)
************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB
Information about features :  None
************************************************************
Total number of null values :
  product_category_name            0
product_category_name_english    0
dtype: int64
************************************************************
Description :
                product_category_name product_category_name_english
count                            71                            71
unique                           71                            71
top     fashion_bolsas_e_acessorios                  garden_tools
freq                              1                             1
************************************************************

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [166]:
## Observations:
# Null observations are in some dataframes: reviews, orders and products.

In [167]:
# Rename the columns customer_zip_code_prefix, geolocation_zip_code_prefix and seller_zip_code_prefix to zip_code_prefix
customers.rename(columns = {'customer_zip_code_prefix' : 'zip_code_prefix'}, inplace = True)
geolocation.rename(columns = {'geolocation_zip_code_prefix' : 'zip_code_prefix'}, inplace = True)
sellers.rename(columns = {'seller_zip_code_prefix' : 'zip_code_prefix'}, inplace = True)

In [168]:
# Check for duplicates in geolocation df because the number of rows are huge due to the absence of suffix of zip codes which could track the customers. All data was anonymised by the company.
geolocation.drop_duplicates(subset="zip_code_prefix",keep="first",inplace=True)

In [169]:
new_geo = geolocation

In [170]:
new_geo.shape

(19015, 5)

In [171]:
# Merging the Dataframes
customers_geolocation = pd.merge(customers,new_geo,how="left",on="zip_code_prefix", indicator=True)

In [172]:
customers_geolocation.head(5)

,customer_id,customer_unique_id,zip_code_prefix,customer_city,customer_state,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,_merge
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.509897,-47.397866,franca,SP,both
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,-23.726853,-46.545746,sao bernardo do campo,SP,both
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,-23.527788,-46.660310,sao paulo,SP,both
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,-23.496930,-46.185352,mogi das cruzes,SP,both
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,-22.987222,-47.151073,campinas,SP,both

In [173]:
customers_geolocation[customers_geolocation["geolocation_state"]!=customers_geolocation["customer_state"]]

,customer_id,customer_unique_id,zip_code_prefix,customer_city,customer_state,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,_merge
354,ecb1725b26e8b8c458181455dfa434ea,b55a113bb84fc10eaf58c6d09ec69794,72300,brasilia,DF,NaN,NaN,NaN,NaN,left_only
382,bcf86029aeed4ed8bac0e16eb14c22f5,7cd7974c9f79f75b77f323878ef87f43,11547,cubatao,SP,NaN,NaN,NaN,NaN,left_only
877,f4302056f0c58570522590f8181de2c7,67b05b597a66b5c449025000b9430abb,64605,picos,PI,NaN,NaN,NaN,NaN,left_only
1218,03bbe0ce5c28e05f22917607db798818,8f3dca4306d5a89e4ae2c65c110603a2,72465,brasilia,DF,NaN,NaN,NaN,NaN,left_only
1272,ad4950aded55c2ea376be59506456d68,aa2b96dd03307ea6dc4b763c0b5f0b39,7729,caieiras,SP,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...
97467,cf818420383856a129134f5f8343f7b8,795c495a65f983b242fb01bd507977c5,72338,brasilia,DF,NaN,NaN,NaN,NaN,left_only
97780,67f3e907dce402e696b15f9308ff22ed,6f232f2f5c7f33b7bd9d794d2afacadd,68629,paragominas,PA,NaN,NaN,NaN,NaN,left_only
98140,f792e419335df11d82c32efcfb09c51b,c04c085b8e7573ba87b9ae1968d0985e,28530,sao sebastiao do paraiba,RJ,NaN,NaN,NaN,NaN,left_only
98878,78a11bb1fa72f556996b9a5b9bcd0629,e7536f62a200b415edd9491ac12a17fa,55863,siriji,PE,NaN,NaN,NaN,NaN,left_only
99264,ff09fd7b29e7488a8d8a20badcd8befe,8c21dd8c37144807c601f99f2a209dfb,72587,brasilia,DF,NaN,NaN,NaN,NaN,left_only

In [174]:
customers_geolocation.shape

(99441, 10)

In [175]:
sellers_geolocation = sellers.merge(new_geo, how='left', on = 'zip_code_prefix', indicator = True)

In [176]:
sellers_geolocation.head(5)

,seller_id,zip_code_prefix,seller_city,seller_state,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,_merge
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP,-22.898536,-47.063125,campinas,SP,both
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP,-22.382941,-46.946641,mogi-guacu,SP,both
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ,-22.910641,-43.176510,rio de janeiro,RJ,both
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP,-23.657250,-46.610759,sao paulo,SP,both
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP,-22.971648,-46.533618,bragança paulista,SP,both

In [177]:
sellers_geolocation[sellers_geolocation["geolocation_state"]!=sellers_geolocation["seller_state"]]

,seller_id,zip_code_prefix,seller_city,seller_state,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,_merge
70,f410c8873029fcc3809b9df6d0b28914,95076,caxias do sul,SP,-29.176822,-51.156907,caxias do sul,RS,both
114,392f7f2c797e4dc077e4311bde2ab8ce,21210,rio de janeiro,RN,-22.842290,-43.297621,rio de janeiro,RJ,both
198,1284de4ae8aa26997e748c851557cf0e,85301,laranjeiras do sul,SP,-25.404095,-52.413260,laranjeiras do sul,PR,both
206,8b181ee5518df84f18f4e1a43fe07923,87360,goioere,SP,-24.188480,-53.016364,goioere,PR,both
275,3d700782d7818f2c1e0d7a9e9d75fc00,86170,sertanopolis,SP,-23.060541,-51.032189,sertanópolis,PR,both
311,f626e15b7314c267e4429010866f70e9,85960,marechal candido rondon,SP,-24.549059,-54.051576,marechal candido rondon,PR,both
364,c716e0b86ed568878475b60fbb6323ad,22783,rio de janeiro,SP,-22.992807,-43.448287,rio de janeiro,RJ,both
424,c8771b1a10bb99bb34d3c459c5cffb53,36512,tocantins,SP,-21.168374,-43.031183,tocantins,MG,both
473,5962468f885ea01a1b6a97a218797b0a,82040,curitiba,PR,NaN,NaN,NaN,NaN,left_only
513,48436dade18ac8b2bce089ec2a041202,27277,volta redonda,SP,-22.498183,-44.123614,volta redonda,RJ,both
549,289cdb325fb7e7f891c38608bf9e0962,31570,belo horizonte,SP,-19.810119,-43.984727,belo horizonte,MG,both
607,83d458c0d6d4f94295d63f091460bd60,29101,vila velha,SP,-20.331613,-40.279586,vila velha,ES,both
680,d9d43faf741ceaa8da52fdbb81d9e0e3,36010,juiz de fora,SP,-21.762825,-43.342956,juiz de fora,MG,both
701,94231344608e603693b0a8891143f65d,91520,porto alegre,SP,-30.067159,-51.168804,porto alegre,RS,both
791,2aafae69bf4c41fbd94053d9413e87ee,91901,porto alegre,RS,NaN,NaN,NaN,NaN,left_only
818,20a7efa9721046319bdde5d60b6b5365,88790,laguna,SP,-28.441293,-48.810486,laguna,SC,both
890,2a167ca73899c85001a837d8fb4962f6,37540,sao paulo,SP,-22.243203,-45.713303,santa rita do sapucai,MG,both
1102,740205fedfe4e90ca6857bc77db0f2b4,95055,caxias do sul,SP,-29.154640,-51.139917,caxias do sul,RS,both
1233,a3082f442524a1be452e3189e003b361,81560,curitiba,SP,-25.496853,-49.209023,curitiba,PR,both
1303,0bae85eb84b9fb3bd773911e89288d54,88301,itajai,SP,-26.916270,-48.652460,itajaí,SC,both
1449,52b53f7061969fe471d119b6195da864,88301,itajai,SP,-26.916270,-48.652460,itajaí,SC,both
1494,cd52a8efd71af3336b14b5039b951cc1,88136,palhoca,SP,-27.640473,-48.714018,palhoca,SC,both
1552,5733d806668f8712c24b9abaefbfa642,89803,chapeco,SP,-27.100608,-52.641246,chapeco,SC,both
1642,fa3a0b5aabb344b9a92e3524b0202123,83020,sao jose dos pinhais,SP,-25.550487,-49.189967,sao jose dos pinhais,PR,both
1656,f00e21b1e91a79653163b7fd8f293ff1,37795,andradas,SP,-22.074065,-46.586440,andradas,MG,both
1672,2a50b7ee5aebecc6fd0ff9784a4747d6,72580,brasilia,DF,NaN,NaN,NaN,NaN,left_only
1819,d7827b2af99326a03b0ed9c7a24db0d3,86076,londrina,SP,-23.285664,-51.180451,londrina,PR,both
1905,296729ffb9b684050dd24836dac4494a,80240,curitiba,SP,-25.453156,-49.285040,curitiba,PR,both
1931,2e90cb1677d35cfe24eef47d441b7c87,2285,sao paulo,SP,NaN,NaN,NaN,NaN,left_only
2033,9d5604a1f112324ad6b2aa552122e0fb,88075,florianopolis,SP,-27.589171,-48.579840,florianopolis,SC,both
2048,b43d8b707f887a30f4675391098354a0,44600,ipira,SP,-12.157900,-39.740437,ipira,BA,both
2182,0b3f27369a4d8df98f7eb91077e438ac,7412,aruja,SP,NaN,NaN,NaN,NaN,left_only
2455,8060d731897e33b5c5ae575ce1e209e1,89052,blumenau,SP,-26.892531,-49.067226,blumenau,SC,both
2510,cce6ab8d1682639fe45ab70234f1665f,81020,curitiba,SP,-25.491607,-49.282837,curitiba,PR,both
2589,3a52d63a8f9daf5a28f3626d7eb9bd28,71900,aguas claras df,SP,-15.832335,-48.038802,brasilia,DF,both
2598,ec5c1d94df153d473b37f880977ae58e,21320,rio de janeiro,SP,-22.885873,-43.342191,rio de janeiro,RJ,both
2646,7ad41305e96a6cab8294cd65891e9a86,28810,rio bonito,SP,-22.717780,-42.530175,boa esperança,RJ,both
2780,67225bff54a172ff67579aaf583efd78,85960,marechal candido rondon,PA,-24.549059,-54.051576,marechal candido rondon,PR,both
2785,a1474fd46fd3430168f7ec202da39408,83321,pinhais,SP,-25.444508,-49.177255,pinhais,PR,both
2986,42bde9fef835393bb8a8849cb6b7f245,71551,brasilia,DF,NaN,NaN,NaN,NaN,left_only
3028,870d0118f7a9d85960f29ad89d5d989a,37708,pocos de caldas,MG,NaN,NaN,NaN,NaN,left_only
3036,6b9b80d53ba3676eafe60268a810b5a1,31160,belo horizonte,SP,-19.882441,-43.929022,belo horizonte,MG,both

In [178]:
sellers_geolocation.shape

(3095, 9)

In [179]:
payments_orders = payments.merge(orders, on = 'order_id', indicator = True )

In [180]:
payments_orders.head(5)

,order_id,payment_sequential,payment_type,payment_installments,payment_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,_merge
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33,0a8556ac6be836b46b3e89920d59291c,delivered,2018-04-25 22:01:49,2018-04-25 22:15:09,2018-05-02 15:20:00,2018-05-09 17:36:51,2018-05-22 00:00:00,both
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39,f2c7fc58a9de810828715166c672f10a,delivered,2018-06-26 11:01:38,2018-06-26 11:18:58,2018-06-28 14:18:00,2018-06-29 20:32:09,2018-07-16 00:00:00,both
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71,25b14b69de0b6e184ae6fe2755e478f9,delivered,2017-12-12 11:19:55,2017-12-14 09:52:34,2017-12-15 20:13:22,2017-12-18 17:24:41,2018-01-04 00:00:00,both
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78,7a5d8efaaa1081f800628c30d2b0728f,delivered,2017-12-06 12:04:06,2017-12-06 12:13:20,2017-12-07 20:28:28,2017-12-21 01:35:51,2018-01-04 00:00:00,both
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45,15fd6fb8f8312dbb4674e4518d6fa3b3,delivered,2018-05-21 13:59:17,2018-05-21 16:14:41,2018-05-22 11:46:00,2018-06-01 21:44:53,2018-06-13 00:00:00,both

In [181]:
payments_orders.shape

(103886, 13)

In [182]:
products_items = products.merge(order_items, on = 'product_id', indicator = True)

In [183]:
products_items.head(5)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,order_id,order_item_id,seller_id,shipping_limit_date,price,freight_value,_merge
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,e17e4f88e31525f7deef66779844ddce,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-04-30 17:33:54,10.91,7.39,both
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,5236307716393b7114b53ee991f36956,1,b561927807645834b59ef0d16ba55a24,2018-02-06 19:11:15,248.00,17.99,both
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0,01f66e58769f84129811d43eefd187fb,1,7b07b3c7487f0ea825fc6df75abd658b,2018-07-11 21:30:20,79.80,7.82,both
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0,143d00a4f2dde4e0364ee1821577adb3,1,c510bc1718f0f2961eaa42a23330681a,2018-08-07 09:10:13,112.30,9.54,both
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0,86cafb8794cb99a9b1b77fc8e48fbbbb,1,0be8ff43f22e456b4e0371b2245e4d01,2018-04-17 01:30:23,37.90,8.29,both

In [184]:
products_items.shape

(112650, 16)

In [185]:
payments_orders_reviews = payments_orders.merge(reviews, on = 'order_id', indicator = 'ok')

In [186]:
payments_orders_reviews.head(5)

,order_id,payment_sequential,payment_type,payment_installments,payment_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,_merge,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,ok
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33,0a8556ac6be836b46b3e89920d59291c,delivered,2018-04-25 22:01:49,2018-04-25 22:15:09,2018-05-02 15:20:00,2018-05-09 17:36:51,2018-05-22 00:00:00,both,4ce650e117a5b292bf5ea980a61eb61e,1,Não recomendo,"Produto com qualidade ruim, amassado e descasc...",2018-05-10 00:00:00,2018-05-15 23:38:00,both
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39,f2c7fc58a9de810828715166c672f10a,delivered,2018-06-26 11:01:38,2018-06-26 11:18:58,2018-06-28 14:18:00,2018-06-29 20:32:09,2018-07-16 00:00:00,both,ad2036caca61484fc435d7e673c020f2,5,NaN,NaN,2018-06-30 00:00:00,2018-07-03 11:23:16,both
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71,25b14b69de0b6e184ae6fe2755e478f9,delivered,2017-12-12 11:19:55,2017-12-14 09:52:34,2017-12-15 20:13:22,2017-12-18 17:24:41,2018-01-04 00:00:00,both,bcddfa0f7d2e54cfc74bae4f01b84d92,5,NaN,Aprovada,2017-12-19 00:00:00,2017-12-22 17:55:30,both
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78,7a5d8efaaa1081f800628c30d2b0728f,delivered,2017-12-06 12:04:06,2017-12-06 12:13:20,2017-12-07 20:28:28,2017-12-21 01:35:51,2018-01-04 00:00:00,both,c37a0e51e5df82bdb55d38ff0ffb6af3,5,NaN,NaN,2017-12-21 00:00:00,2017-12-21 21:42:31,both
4,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78,7a5d8efaaa1081f800628c30d2b0728f,delivered,2017-12-06 12:04:06,2017-12-06 12:13:20,2017-12-07 20:28:28,2017-12-21 01:35:51,2018-01-04 00:00:00,both,5bc7680443b4ef765fec11a8201eeb0c,5,NaN,NaN,2017-12-21 00:00:00,2017-12-22 01:10:39,both

In [187]:
payments_orders_reviews.shape

(103677, 20)

In [188]:
payments_orders_reviews_geo_customers = payments_orders_reviews.merge(customers_geolocation, on = 'customer_id', indicator = 'fine')

In [189]:
payments_orders_reviews_geo_customers.head(5)

,order_id,payment_sequential,payment_type,payment_installments,payment_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,_merge_x,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,ok,customer_unique_id,zip_code_prefix,customer_city,customer_state,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,_merge_y,fine
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33,0a8556ac6be836b46b3e89920d59291c,delivered,2018-04-25 22:01:49,2018-04-25 22:15:09,2018-05-02 15:20:00,2018-05-09 17:36:51,2018-05-22 00:00:00,both,4ce650e117a5b292bf5ea980a61eb61e,1,Não recomendo,"Produto com qualidade ruim, amassado e descasc...",2018-05-10 00:00:00,2018-05-15 23:38:00,both,708ab75d2a007f0564aedd11139c7708,39801,teofilo otoni,MG,-17.851690,-41.493610,teofilo otoni,MG,both,both
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39,f2c7fc58a9de810828715166c672f10a,delivered,2018-06-26 11:01:38,2018-06-26 11:18:58,2018-06-28 14:18:00,2018-06-29 20:32:09,2018-07-16 00:00:00,both,ad2036caca61484fc435d7e673c020f2,5,NaN,NaN,2018-06-30 00:00:00,2018-07-03 11:23:16,both,a8b9d3a27068454b1c98cc67d4e31e6f,2422,sao paulo,SP,-23.470015,-46.634846,sao paulo,SP,both,both
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71,25b14b69de0b6e184ae6fe2755e478f9,delivered,2017-12-12 11:19:55,2017-12-14 09:52:34,2017-12-15 20:13:22,2017-12-18 17:24:41,2018-01-04 00:00:00,both,bcddfa0f7d2e54cfc74bae4f01b84d92,5,NaN,Aprovada,2017-12-19 00:00:00,2017-12-22 17:55:30,both,6f70c0b2f7552832ba46eb57b1c5651e,2652,sao paulo,SP,-23.454897,-46.656832,sao paulo,SP,both,both
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78,7a5d8efaaa1081f800628c30d2b0728f,delivered,2017-12-06 12:04:06,2017-12-06 12:13:20,2017-12-07 20:28:28,2017-12-21 01:35:51,2018-01-04 00:00:00,both,c37a0e51e5df82bdb55d38ff0ffb6af3,5,NaN,NaN,2017-12-21 00:00:00,2017-12-21 21:42:31,both,87695ed086ebd36f20404c82d20fca87,36060,juiz de fora,MG,-21.750376,-43.342449,juiz de fora,MG,both,both
4,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78,7a5d8efaaa1081f800628c30d2b0728f,delivered,2017-12-06 12:04:06,2017-12-06 12:13:20,2017-12-07 20:28:28,2017-12-21 01:35:51,2018-01-04 00:00:00,both,5bc7680443b4ef765fec11a8201eeb0c,5,NaN,NaN,2017-12-21 00:00:00,2017-12-22 01:10:39,both,87695ed086ebd36f20404c82d20fca87,36060,juiz de fora,MG,-21.750376,-43.342449,juiz de fora,MG,both,both

In [190]:
payments_orders_reviews_geo_customers.shape

(103677, 30)

In [191]:
products_items_sellers_geolocation = products_items.merge(sellers_geolocation, on = 'seller_id', indicator = 'right')

In [192]:
products_items_sellers_geolocation.head(5)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,order_id,order_item_id,seller_id,shipping_limit_date,price,freight_value,_merge_x,zip_code_prefix,seller_city,seller_state,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,_merge_y,right
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,e17e4f88e31525f7deef66779844ddce,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-04-30 17:33:54,10.91,7.39,both,3694,sao paulo,SP,-23.537922,-46.477696,sao paulo,SP,both,both
1,a035b83b3628decee6e3823924e0c10f,perfumaria,53.0,2235.0,3.0,1450.0,20.0,25.0,20.0,b18cb761efbe70da4838435a349abd07,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-07-06 19:31:03,268.38,21.07,both,3694,sao paulo,SP,-23.537922,-46.477696,sao paulo,SP,both,both
2,091107484dd7172f5dcfed173e4a960e,perfumaria,50.0,260.0,2.0,183.0,16.0,8.0,13.0,a7708ffa8966514c098d15e1abfa6417,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-04-27 19:31:35,7.65,10.55,both,3694,sao paulo,SP,-23.537922,-46.477696,sao paulo,SP,both,both
3,ccac9976bafbf7e587bd2c29302e2314,perfumaria,53.0,2235.0,3.0,1500.0,20.0,25.0,20.0,206d1a13596872a713dba14504fdf699,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-08-01 16:35:17,268.38,18.07,both,3694,sao paulo,SP,-23.537922,-46.477696,sao paulo,SP,both,both
4,2eadf6089620e82047e4d24101dc6759,perfumaria,44.0,749.0,1.0,500.0,16.0,14.0,14.0,f8bb4d404d187c79b86ccf852dfa345e,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-06-20 21:58:24,16.88,7.39,both,3694,sao paulo,SP,-23.537922,-46.477696,sao paulo,SP,both,both

In [193]:
products_items_sellers_geolocation.shape

(112650, 25)

In [194]:
products_items_sellers_geolocation_payments_orders_reviews_geo_customers = products_items_sellers_geolocation.merge(payments_orders_reviews_geo_customers, on = 'order_id', suffixes=("_customer","_seller"))

In [195]:
products_items_sellers_geolocation_payments_orders_reviews_geo_customers.head(5)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,order_id,order_item_id,seller_id,shipping_limit_date,price,freight_value,_merge_x_customer,zip_code_prefix_customer,seller_city,seller_state,geolocation_lat_customer,geolocation_lng_customer,geolocation_city_customer,geolocation_state_customer,_merge_y_customer,right,payment_sequential,payment_type,payment_installments,payment_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,_merge_x_seller,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,ok,customer_unique_id,zip_code_prefix_seller,customer_city,customer_state,geolocation_lat_seller,geolocation_lng_seller,geolocation_city_seller,geolocation_state_seller,_merge_y_seller,fine
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,e17e4f88e31525f7deef66779844ddce,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-04-30 17:33:54,10.91,7.39,both,3694,sao paulo,SP,-23.537922,-46.477696,sao paulo,SP,both,both,1,debit_card,1,18.30,f8a3e963a310aa58b60a5b1fed5bceb5,delivered,2018-04-24 16:16:53,2018-04-24 19:04:19,2018-04-25 17:01:00,2018-04-27 16:42:17,2018-05-09 00:00:00,both,d71da8fd8c6e3adef26be965f065b8a1,5,Vale a pena,Super adooorei o delineador ele é bem preto e ...,2018-04-28 00:00:00,2018-05-04 00:55:02,both,b1a1199364a4a7fe27c4486ab63f550d,13848,mogi-guacu,SP,-22.331249,-46.922580,mogi guaçu,SP,both,both
1,a035b83b3628decee6e3823924e0c10f,perfumaria,53.0,2235.0,3.0,1450.0,20.0,25.0,20.0,b18cb761efbe70da4838435a349abd07,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-07-06 19:31:03,268.38,21.07,both,3694,sao paulo,SP,-23.537922,-46.477696,sao paulo,SP,both,both,1,credit_card,10,289.45,9ff6d1a05ecfe2d907adac11a2e2bfe9,delivered,2018-07-04 18:39:28,2018-07-05 16:33:14,2018-07-05 13:21:00,2018-07-10 22:34:39,2018-07-27 00:00:00,both,0f0f85749cb82321d902e390a9c33694,4,NaN,NaN,2018-07-11 00:00:00,2018-07-15 21:32:04,both,fc68ba9c34778e17224154c255b5656e,84200,jaguariaiva,PR,-24.256442,-49.709951,jaguariaíva,PR,both,both
2,091107484dd7172f5dcfed173e4a960e,perfumaria,50.0,260.0,2.0,183.0,16.0,8.0,13.0,a7708ffa8966514c098d15e1abfa6417,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-04-27 19:31:35,7.65,10.55,both,3694,sao paulo,SP,-23.537922,-46.477696,sao paulo,SP,both,both,1,credit_card,2,57.75,360782688ff472f1adbd47a85861751e,delivered,2018-04-23 19:03:35,2018-04-24 19:17:45,2018-04-24 16:22:36,2018-04-25 23:02:39,2018-05-15 00:00:00,both,39489f8518181b82cb86ce264e1ccc55,5,Agora sim,Recebido o pedido finalmente produto ótimo,2018-04-26 00:00:00,2018-04-30 21:15:06,both,c67329fd07872a68d6d6d1f1626a0760,3804,sao paulo,SP,-23.502716,-46.482996,sao paulo,SP,both,both
3,e8b61f78db501ea0ca45677d1ca27de2,brinquedos,49.0,120.0,1.0,400.0,50.0,10.0,25.0,a7708ffa8966514c098d15e1abfa6417,2,3d871de0142ce09b7081e2b9d1733cb1,2018-04-27 19:31:35,29.00,10.55,both,13232,campo limpo paulista,SP,-23.207064,-46.760735,campo limpo paulista,SP,both,both,1,credit_card,2,57.75,360782688ff472f1adbd47a85861751e,delivered,2018-04-23 19:03:35,2018-04-24 19:17:45,2018-04-24 16:22:36,2018-04-25 23:02:39,2018-05-15 00:00:00,both,39489f8518181b82cb86ce264e1ccc55,5,Agora sim,Recebido o pedido finalmente produto ótimo,2018-04-26 00:00:00,2018-04-30 21:15:06,both,c67329fd07872a68d6d6d1f1626a0760,3804,sao paulo,SP,-23.502716,-46.482996,sao paulo,SP,both,both
4,ccac9976bafbf7e587bd2c29302e2314,perfumaria,53.0,2235.0,3.0,1500.0,20.0,25.0,20.0,206d1a13596872a713dba14504fdf699,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-08-01 16:35:17,268.38,18.07,both,3694,sao paulo,SP,-23.537922,-46.477696,sao paulo,SP,both,both,1,credit_card,8,286.45,58c5eb8e7844d1ecd85128e663f49e04,delivered,2018-07-29 20:50:22,2018-07-30 18:31:13,2018-08-01 15:24:00,2018-08-06 18:36:46,2018-08-15 00:00:00,both,36b616f738d1f617cc12aeb2c01705f3,3,NaN,NaN,2018-08-07 00:00:00,2018-08-07 22:56:38,both,1b6d2664b20a04a1fa9c900aedf29440,71920,brasilia,DF,-15.829934,-48.032895,brasilia,DF,both,both

In [196]:
products_items_sellers_geolocation_payments_orders_reviews_geo_customers.shape

(117329, 54)

In [197]:
dataset = products_items_sellers_geolocation_payments_orders_reviews_geo_customers

In [198]:
dataset.columns

Index(['product_id', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'order_id', 'order_item_id', 'seller_id', 'shipping_limit_date',
       'price', 'freight_value', '_merge_x_customer',
       'zip_code_prefix_customer', 'seller_city', 'seller_state',
       'geolocation_lat_customer', 'geolocation_lng_customer',
       'geolocation_city_customer', 'geolocation_state_customer',
       '_merge_y_customer', 'right', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value', 'customer_id', 'order_status',
       'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', '_merge_x_seller', 'review_id',
       'review_score', 'review_comment_title', 'review_comment_message',
       'review_creation_date', 'review_answer_timestamp', 'ok',
       'customer_unique_id', 'zip_code_prefix_seller', 'customer_city',
       'customer_state', 'geolocation_lat_seller', 'geolocation_lng_seller',
       'geolocation_city_seller', 'geolocation_state_seller',
       '_merge_y_seller', 'fine'],
      dtype='object')

In [199]:
# Keep only data that are measurable. Since I am not interested in text analysis.
# Drop indicators
# Drop text from reviews

In [200]:
# Dropping indicators
dataset.drop(columns = ['_merge_x_customer', '_merge_y_customer', '_merge_x_seller', '_merge_y_seller', 'fine', 'ok', 'review_comment_title', 'review_comment_message', 'review_creation_date', 'review_answer_timestamp'],axis=1,inplace=True)

In [201]:
#Finding null values
dataset.isnull().sum()

product_id                          0
product_category_name            1695
product_name_lenght              1695
product_description_lenght       1695
product_photos_qty               1695
product_weight_g                   20
product_length_cm                  20
product_height_cm                  20
product_width_cm                   20
order_id                            0
order_item_id                       0
seller_id                           0
shipping_limit_date                 0
price                               0
freight_value                       0
zip_code_prefix_customer            0
seller_city                         0
seller_state                        0
geolocation_lat_customer          264
geolocation_lng_customer          264
geolocation_city_customer         264
geolocation_state_customer        264
right                               0
payment_sequential                  0
payment_type                        0
payment_installments                0
payment_value                       0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                  15
order_delivered_carrier_date     1235
order_delivered_customer_date    2471
order_estimated_delivery_date       0
review_id                           0
review_score                        0
customer_unique_id                  0
zip_code_prefix_seller              0
customer_city                       0
customer_state                      0
geolocation_lat_seller            316
geolocation_lng_seller            316
geolocation_city_seller           316
geolocation_state_seller          316
dtype: int64

In [202]:
dataset.shape

(117329, 44)

In [203]:
# Drop the missing values in products
dataset.dropna(subset=["product_category_name","product_weight_g"],axis=0,inplace=True)

In [204]:
# Drop the missing values in geolocation_customers and geolocation_sellers
# I can't input new values to the dataset and the amount of missing values is small
dataset.dropna(subset=["geolocation_lat_customer","geolocation_lat_seller"],axis=0,inplace=True)

In [205]:
# Checking the orders data
dataset['order_status'].value_counts(dropna = False).sort_index()

approved            3
canceled          532
delivered      112676
invoiced          355
processing        356
shipped          1132
unavailable         7
Name: order_status, dtype: int64

In [206]:
# Drop datetime that are null because I can not input data
dataset.dropna(subset=["order_approved_at","order_delivered_carrier_date", "order_delivered_customer_date"],axis=0,inplace=True)

In [207]:
# Checking null values again
dataset.isnull().sum()

product_id                       0
product_category_name            0
product_name_lenght              0
product_description_lenght       0
product_photos_qty               0
product_weight_g                 0
product_length_cm                0
product_height_cm                0
product_width_cm                 0
order_id                         0
order_item_id                    0
seller_id                        0
shipping_limit_date              0
price                            0
freight_value                    0
zip_code_prefix_customer         0
seller_city                      0
seller_state                     0
geolocation_lat_customer         0
geolocation_lng_customer         0
geolocation_city_customer        0
geolocation_state_customer       0
right                            0
payment_sequential               0
payment_type                     0
payment_installments             0
payment_value                    0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
review_id                        0
review_score                     0
customer_unique_id               0
zip_code_prefix_seller           0
customer_city                    0
customer_state                   0
geolocation_lat_seller           0
geolocation_lng_seller           0
geolocation_city_seller          0
geolocation_state_seller         0
dtype: int64

In [208]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112660 entries, 0 to 117328
Data columns (total 44 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   product_id                     112660 non-null  object
 1   product_category_name          112660 non-null  object
 2   product_name_lenght            112660 non-null  float64
 3   product_description_lenght     112660 non-null  float64
 4   product_photos_qty             112660 non-null  float64
 5   product_weight_g               112660 non-null  float64
 6   product_length_cm              112660 non-null  float64
 7   product_height_cm              112660 non-null  float64
 8   product_width_cm               112660 non-null  float64
 9   order_id                       112660 non-null  object
 10  order_item_id                  112660 non-null  int64
 11  seller_id                      112660 non-null  object
 12  shipping_limit_date            112660 non-null  object
 13  price                          112660 non-null  float64
 14  freight_value                  112660 non-null  float64
 15  zip_code_prefix_customer       112660 non-null  int64
 16  seller_city                    112660 non-null  object
 17  seller_state                   112660 non-null  object
 18  geolocation_lat_customer       112660 non-null  float64
 19  geolocation_lng_customer       112660 non-null  float64
 20  geolocation_city_customer      112660 non-null  object
 21  geolocation_state_customer     112660 non-null  object
 22  right                          112660 non-null  category
 23  payment_sequential             112660 non-null  int64
 24  payment_type                   112660 non-null  object
 25  payment_installments           112660 non-null  int64
 26  payment_value                  112660 non-null  float64
 27  customer_id                    112660 non-null  object
 28  order_status                   112660 non-null  object
 29  order_purchase_timestamp       112660 non-null  object
 30  order_approved_at              112660 non-null  object
 31  order_delivered_carrier_date   112660 non-null  object
 32  order_delivered_customer_date  112660 non-null  object
 33  order_estimated_delivery_date  112660 non-null  object
 34  review_id                      112660 non-null  object
 35  review_score                   112660 non-null  int64
 36  customer_unique_id             112660 non-null  object
 37  zip_code_prefix_seller         112660 non-null  int64
 38  customer_city                  112660 non-null  object
 39  customer_state                 112660 non-null  object
 40  geolocation_lat_seller         112660 non-null  float64
 41  geolocation_lng_seller         112660 non-null  float64
 42  geolocation_city_seller        112660 non-null  object
 43  geolocation_state_seller       112660 non-null  object
dtypes: category(1), float64(14), int64(6), object(23)
memory usage: 37.9+ MB

In [209]:
overview(dataset)

Shape of the dataframe is : (112660, 44)
************************************************************
<class 'pandas.core.frame.DataFrame'>
Int64Index: 112660 entries, 0 to 117328
Data columns (total 44 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   product_id                     112660 non-null  object
 1   product_category_name          112660 non-null  object
 2   product_name_lenght            112660 non-null  float64
 3   product_description_lenght     112660 non-null  float64
 4   product_photos_qty             112660 non-null  float64
 5   product_weight_g               112660 non-null  float64
 6   product_length_cm              112660 non-null  float64
 7   product_height_cm              112660 non-null  float64
 8   product_width_cm               112660 non-null  float64
 9   order_id                       112660 non-null  object
 10  order_item_id                  112660 non-null  int64
 11  seller_id                      112660 non-null  object
 12  shipping_limit_date            112660 non-null  object
 13  price                          112660 non-null  float64
 14  freight_value                  112660 non-null  float64
 15  zip_code_prefix_customer       112660 non-null  int64
 16  seller_city                    112660 non-null  object
 17  seller_state                   112660 non-null  object
 18  geolocation_lat_customer       112660 non-null  float64
 19  geolocation_lng_customer       112660 non-null  float64
 20  geolocation_city_customer      112660 non-null  object
 21  geolocation_state_customer     112660 non-null  object
 22  right                          112660 non-null  category
 23  payment_sequential             112660 non-null  int64
 24  payment_type                   112660 non-null  object
 25  payment_installments           112660 non-null  int64
 26  payment_value                  112660 non-null  float64
 27  customer_id                    112660 non-null  object
 28  order_status                   112660 non-null  object
 29  order_purchase_timestamp       112660 non-null  object
 30  order_approved_at              112660 non-null  object
 31  order_delivered_carrier_date   112660 non-null  object
 32  order_delivered_customer_date  112660 non-null  object
 33  order_estimated_delivery_date  112660 non-null  object
 34  review_id                      112660 non-null  object
 35  review_score                   112660 non-null  int64
 36  customer_unique_id             112660 non-null  object
 37  zip_code_prefix_seller         112660 non-null  int64
 38  customer_city                  112660 non-null  object
 39  customer_state                 112660 non-null  object
 40  geolocation_lat_seller         112660 non-null  float64
 41  geolocation_lng_seller         112660 non-null  float64
 42  geolocation_city_seller        112660 non-null  object
 43  geolocation_state_seller       112660 non-null  object
dtypes: category(1), float64(14), int64(6), object(23)
memory usage: 37.9+ MB
Information about features :  None
************************************************************
Total number of null values :
  product_id                       0
product_category_name            0
product_name_lenght              0
product_description_lenght       0
product_photos_qty               0
product_weight_g                 0
product_length_cm                0
product_height_cm                0
product_width_cm                 0
order_id                         0
order_item_id                    0
seller_id                        0
shipping_limit_date              0
price                            0
freight_value                    0
zip_code_prefix_customer         0
seller_city                      0
seller_state                     0
geolocation_lat_customer         0
geolocation_lng_customer         0
geolocation_city_customer        0
geolocation_state_customer       0
right                            0
payment_sequential               0
payment_type                     0
payment_installments             0
payment_value                    0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
review_id                        0
review_score                     0
customer_unique_id               0
zip_code_prefix_seller           0
customer_city                    0
customer_state                   0
geolocation_lat_seller           0
geolocation_lng_seller           0
geolocation_city_seller          0
geolocation_state_seller         0
dtype: int64
************************************************************
Description :
         product_name_lenght  product_description_lenght  product_photos_qty  \
count        112660.000000               112660.000000       112660.000000
mean             48.791692                  784.758459            2.201802
std              10.019664                  650.933783            1.713653
min               5.000000                    4.000000            1.000000
25%              42.000000                  345.000000            1.000000
50%              52.000000                  600.000000            1.000000
75%              57.000000                  982.000000            3.000000
max              76.000000                 3992.000000           20.000000

       product_weight_g  product_length_cm  product_height_cm  \
count     112660.000000      112660.000000      112660.000000
mean        2104.642837          30.270140          16.619341
std         3759.655314          16.136808          13.447256
min            0.000000           7.000000           2.000000
25%          300.000000          18.000000           8.000000
50%          700.000000          25.000000          13.000000
75%         1800.000000          38.000000          20.000000
max        40425.000000         105.000000         105.000000

       product_width_cm  order_item_id          price  freight_value  \
count     112660.000000  112660.000000  112660.000000  112660.000000
mean          23.090032       1.195278     119.897786      19.994275
std           11.709200       0.688383     181.313993      15.724129
min            6.000000       1.000000       0.850000       0.000000
25%           15.000000       1.000000      39.900000      13.070000
50%           20.000000       1.000000      74.900000      16.310000
75%           30.000000       1.000000     133.000000      21.180000
max          118.000000      21.000000    6735.000000     409.680000

       zip_code_prefix_customer  geolocation_lat_customer  \
count             112660.000000             112660.000000
mean               24531.174046                -22.796399
std                27656.262698                  2.703221
min                 1001.000000                -36.605374
25%                 6429.000000                -23.612053
50%                13690.000000                -23.420739
75%                27987.750000                -21.766477
max                99730.000000                 -2.546079

       geolocation_lng_customer  payment_sequential  payment_installments  \
count             112660.000000       112660.000000         112660.000000
mean                 -47.249871            1.091097              2.941701
std                    2.346336            0.688178              2.778089
min                  -64.283946            1.000000              0.000000
25%                  -48.831547            1.000000              1.000000
50%                  -46.755211            1.000000              2.000000
75%                  -46.518082            1.000000              4.000000
max                  -34.847856           26.000000             24.000000

       payment_value   review_score  zip_code_prefix_seller  \
count  112660.000000  112660.000000           112660.000000
mean      171.628235       4.082132            35007.501163
std       264.586281       1.346201            29855.153916
min         0.000000       1.000000             1003.000000
25%        60.750000       4.000000            11090.000000
50%       107.900000       5.000000            24230.000000
75%       189.160000       5.000000            58400.000000
max     13664.080000       5.000000            99980.000000

       geolocation_lat_seller  geolocation_lng_seller
count           112660.000000           112660.000000
mean               -21.247057              -46.206819
std                  5.562592                4.046629
min                -36.605374              -72.666706
25%                -23.591085              -48.110471
50%                -22.930084              -46.632467
75%                -20.202116              -43.654758
max                 42.184003               -8.577855
************************************************************

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,order_id,order_item_id,seller_id,shipping_limit_date,price,freight_value,zip_code_prefix_customer,seller_city,seller_state,geolocation_lat_customer,geolocation_lng_customer,geolocation_city_customer,geolocation_state_customer,right,payment_sequential,payment_type,payment_installments,payment_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,customer_unique_id,zip_code_prefix_seller,customer_city,customer_state,geolocation_lat_seller,geolocation_lng_seller,geolocation_city_seller,geolocation_state_seller
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,e17e4f88e31525f7deef66779844ddce,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-04-30 17:33:54,10.91,7.39,3694,sao paulo,SP,-23.537922,-46.477696,sao paulo,SP,both,1,debit_card,1,18.30,f8a3e963a310aa58b60a5b1fed5bceb5,delivered,2018-04-24 16:16:53,2018-04-24 19:04:19,2018-04-25 17:01:00,2018-04-27 16:42:17,2018-05-09 00:00:00,d71da8fd8c6e3adef26be965f065b8a1,5,b1a1199364a4a7fe27c4486ab63f550d,13848,mogi-guacu,SP,-22.331249,-46.922580,mogi guaçu,SP
1,a035b83b3628decee6e3823924e0c10f,perfumaria,53.0,2235.0,3.0,1450.0,20.0,25.0,20.0,b18cb761efbe70da4838435a349abd07,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-07-06 19:31:03,268.38,21.07,3694,sao paulo,SP,-23.537922,-46.477696,sao paulo,SP,both,1,credit_card,10,289.45,9ff6d1a05ecfe2d907adac11a2e2bfe9,delivered,2018-07-04 18:39:28,2018-07-05 16:33:14,2018-07-05 13:21:00,2018-07-10 22:34:39,2018-07-27 00:00:00,0f0f85749cb82321d902e390a9c33694,4,fc68ba9c34778e17224154c255b5656e,84200,jaguariaiva,PR,-24.256442,-49.709951,jaguariaíva,PR
2,091107484dd7172f5dcfed173e4a960e,perfumaria,50.0,260.0,2.0,183.0,16.0,8.0,13.0,a7708ffa8966514c098d15e1abfa6417,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-04-27 19:31:35,7.65,10.55,3694,sao paulo,SP,-23.537922,-46.477696,sao paulo,SP,both,1,credit_card,2,57.75,360782688ff472f1adbd47a85861751e,delivered,2018-04-23 19:03:35,2018-04-24 19:17:45,2018-04-24 16:22:36,2018-04-25 23:02:39,2018-05-15 00:00:00,39489f8518181b82cb86ce264e1ccc55,5,c67329fd07872a68d6d6d1f1626a0760,3804,sao paulo,SP,-23.502716,-46.482996,sao paulo,SP
3,e8b61f78db501ea0ca45677d1ca27de2,brinquedos,49.0,120.0,1.0,400.0,50.0,10.0,25.0,a7708ffa8966514c098d15e1abfa6417,2,3d871de0142ce09b7081e2b9d1733cb1,2018-04-27 19:31:35,29.00,10.55,13232,campo limpo paulista,SP,-23.207064,-46.760735,campo limpo paulista,SP,both,1,credit_card,2,57.75,360782688ff472f1adbd47a85861751e,delivered,2018-04-23 19:03:35,2018-04-24 19:17:45,2018-04-24 16:22:36,2018-04-25 23:02:39,2018-05-15 00:00:00,39489f8518181b82cb86ce264e1ccc55,5,c67329fd07872a68d6d6d1f1626a0760,3804,sao paulo,SP,-23.502716,-46.482996,sao paulo,SP
4,ccac9976bafbf7e587bd2c29302e2314,perfumaria,53.0,2235.0,3.0,1500.0,20.0,25.0,20.0,206d1a13596872a713dba14504fdf699,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-08-01 16:35:17,268.38,18.07,3694,sao paulo,SP,-23.537922,-46.477696,sao paulo,SP,both,1,credit_card,8,286.45,58c5eb8e7844d1ecd85128e663f49e04,delivered,2018-07-29 20:50:22,2018-07-30 18:31:13,2018-08-01 15:24:00,2018-08-06 18:36:46,2018-08-15 00:00:00,36b616f738d1f617cc12aeb2c01705f3,3,1b6d2664b20a04a1fa9c900aedf29440,71920,brasilia,DF,-15.829934,-48.032895,brasilia,DF

In [210]:
# Number of rows dropped = 6016. Total of 5,1%

In [211]:
# Checking for duplicates
dataset[dataset.duplicated()==True]

Empty DataFrame
Columns: [product_id, product_category_name, product_name_lenght, product_description_lenght, product_photos_qty, product_weight_g, product_length_cm, product_height_cm, product_width_cm, order_id, order_item_id, seller_id, shipping_limit_date, price, freight_value, zip_code_prefix_customer, seller_city, seller_state, geolocation_lat_customer, geolocation_lng_customer, geolocation_city_customer, geolocation_state_customer, right, payment_sequential, payment_type, payment_installments, payment_value, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date, review_id, review_score, customer_unique_id, zip_code_prefix_seller, customer_city, customer_state, geolocation_lat_seller, geolocation_lng_seller, geolocation_city_seller, geolocation_state_seller]
Index: []

In [212]:
# Changing data type
#datetime are objects, so I ill change to date time
dataset["order_purchase_timestamp"] = pd.to_datetime(dataset["order_purchase_timestamp"])
dataset["order_approved_at"] = pd.to_datetime(dataset["order_approved_at"])
dataset["order_delivered_carrier_date"] = pd.to_datetime(dataset["order_delivered_carrier_date"])
dataset["order_delivered_customer_date"] = pd.to_datetime(dataset["order_delivered_customer_date"])
dataset["order_estimated_delivery_date"] = pd.to_datetime(dataset["order_estimated_delivery_date"])
dataset["shipping_limit_date"] = pd.to_datetime(dataset["shipping_limit_date"])

In [213]:
#Consistency checking
#Check if state from seller is equal to seller state geolocation, the same will be done for customers
dataset[dataset['geolocation_state_seller']!=dataset['seller_state']]

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,order_id,order_item_id,seller_id,shipping_limit_date,price,freight_value,zip_code_prefix_customer,seller_city,seller_state,geolocation_lat_customer,geolocation_lng_customer,geolocation_city_customer,geolocation_state_customer,right,payment_sequential,payment_type,payment_installments,payment_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,customer_unique_id,zip_code_prefix_seller,customer_city,customer_state,geolocation_lat_seller,geolocation_lng_seller,geolocation_city_seller,geolocation_state_seller
1,a035b83b3628decee6e3823924e0c10f,perfumaria,53.0,2235.0,3.0,1450.0,20.0,25.0,20.0,b18cb761efbe70da4838435a349abd07,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-07-06 19:31:03,268.38,21.07,3694,sao paulo,SP,-23.537922,-46.477696,sao paulo,SP,both,1,credit_card,10,289.45,9ff6d1a05ecfe2d907adac11a2e2bfe9,delivered,2018-07-04 18:39:28,2018-07-05 16:33:14,2018-07-05 13:21:00,2018-07-10 22:34:39,2018-07-27,0f0f85749cb82321d902e390a9c33694,4,fc68ba9c34778e17224154c255b5656e,84200,jaguariaiva,PR,-24.256442,-49.709951,jaguariaíva,PR
4,ccac9976bafbf7e587bd2c29302e2314,perfumaria,53.0,2235.0,3.0,1500.0,20.0,25.0,20.0,206d1a13596872a713dba14504fdf699,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-08-01 16:35:17,268.38,18.07,3694,sao paulo,SP,-23.537922,-46.477696,sao paulo,SP,both,1,credit_card,8,286.45,58c5eb8e7844d1ecd85128e663f49e04,delivered,2018-07-29 20:50:22,2018-07-30 18:31:13,2018-08-01 15:24:00,2018-08-06 18:36:46,2018-08-15,36b616f738d1f617cc12aeb2c01705f3,3,1b6d2664b20a04a1fa9c900aedf29440,71920,brasilia,DF,-15.829934,-48.032895,brasilia,DF
7,ba63ad9eaf3dc6369f8187e7251c0870,perfumaria,38.0,1813.0,3.0,5850.0,27.0,20.0,35.0,090d23542dd542b9a9e25fa9d5d9e528,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-06-11 14:52:02,349.97,59.00,3694,sao paulo,SP,-23.537922,-46.477696,sao paulo,SP,both,1,credit_card,8,408.97,73d09f34ade23726e0b2388af3b357e4,delivered,2018-06-01 14:31:54,2018-06-01 14:52:02,2018-06-04 15:21:00,2018-06-14 12:41:22,2018-07-17,7b478d5f58db8f13e3c40f3184740395,5,2fbed526955cf9cfa88dfc3a1c73463e,64490,regeneracao,PI,-6.227943,-42.685033,regeneração,PI
8,ba63ad9eaf3dc6369f8187e7251c0870,perfumaria,38.0,1813.0,3.0,5850.0,27.0,20.0,35.0,25b0aadbfdbdc6fcc91820762f6aaf35,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-08-20 22:50:22,349.97,37.80,3694,sao paulo,SP,-23.537922,-46.477696,sao paulo,SP,both,1,credit_card,10,387.77,0d93e3fecae11d6f2348610c93841603,delivered,2018-08-15 22:57:05,2018-08-16 22:50:22,2018-08-17 15:24:00,2018-08-24 00:03:38,2018-09-05,b683ccd4c9c4ce2bbe8fa1bf9702bf42,5,4f1a8d703d88162a87bf13b50ef9c75f,89224,joinville,SC,-26.270135,-48.808761,joinville,SC
13,d6c69817b519edddbf1b289631b7160e,perfumaria,38.0,1813.0,3.0,4800.0,27.0,20.0,35.0,a29c6282a6e4ec30881051cfaa99029c,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-06-22 17:31:11,349.97,25.25,3694,sao paulo,SP,-23.537922,-46.477696,sao paulo,SP,both,1,credit_card,8,375.22,d556f45dce3c770a756fdd5175b2a558,delivered,2018-06-20 17:18:04,2018-06-20 17:41:38,2018-06-21 13:09:00,2018-06-27 17:56:41,2018-07-17,8bd584c5a0d0bf3dfc77b188ae9f2fa7,5,ae2ab4311ac09857f7d3679259d6882f,28495,aperibe,RJ,-21.621895,-42.101295,aperibe,RJ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117324,daf9915404caf75fa1717a436b46fa14,moveis_decoracao,63.0,379.0,5.0,1400.0,33.0,15.0,30.0,5d36e8ca3ccd1262b7641467fdba0b8e,1,0f519b0d2e5eb2227c93dd25038bfc01,2017-01-31 12:10:46,79.90,23.00,14940,ibitinga,SP,-21.766477,-48.831547,ibitinga,SP,both,1,credit_card,1,102.90,3b2b96751131c948164edc5d21d27abb,delivered,2017-01-27 12:10:46,2017-01-27 12:31:29,2017-01-30 10:26:15,2017-02-08 18:42:20,2017-03-20,e587cf1954fc358343a8c510c8694269,5,55b3a0a9998356016bbb072bf8c188a6,60830,fortaleza,CE,-3.811166,-38.478645,fortaleza,CE
117325,b0498e44190727b728ae4490f2e9b6a5,malas_acessorios,25.0,712.0,4.0,5250.0,34.0,23.0,40.0,8edaa376e19d08bc84ab8845682216b4,1,dda37071807e404c5bb2a1590c66326f,2018-04-30 09:30:37,199.99,19.28,3282,sao paulo,SP,-23.590854,-46.541398,são paulo,SP,both,1,credit_card,1,219.27,4c1e29ec2ed2feac441cf24b25262ed2,delivered,2018-04-24 08:37:20,2018-04-24 17:26:25,2018-04-25 12:24:00,2018-05-10 22:36:37,2018-05-14,7bbe7636141510158aa577dcfd017b13,5,913a4e0cb7fe555e6cffa875ecd58e2e,28455,sao jose de uba,RJ,-21.358247,-41.941457,sao jose de uba,RJ
117326,80b391b2dc6c958ef3ad34fa7ee01423,automotivo,17.0,306.0,4.0,200.0,26.0,4.0,13.0,635c8d3ab47b7448b5d6c81dc9b7526e,1,3aa3c89ae3cd482385568be76120f63c,2018-06-14 02:57:41,29.90,19.04,74343,goiania,GO,-16.736001,-49.302574,goiania,GO,both,1,boleto,1,48.94,d7b2339f118be9c6d98389f6d0c370d4,delivered,2018-06-07 22:36:29,2018-06-09 02:57:41,2018-06-14 13:59:00,2018-06-18 18:33:50,2018-06-26,0a954efcadecd2bfa871c46f5fd05308,4,0c2bb0bab2bf22858fa762d320a326bb,3729,sao paulo,SP,-23.502989,-46.503500,sao paulo,SP
117327,2b6535d32c6996c9478c131a8ff17a05,construcao_ferramentas_seguranca,50.0,428.0,2.0,333.0,16.0,9.0,10.0,b3e5d245a95dd6378330cc2249d9d6b4,1,e64882b4ef12aee8d0faca4db5b681f4,2018-01-18 02:06:32,115.00,21.61,74210,goiania,GO,-16.693725,-49.277801,goiania,GO,both,1,boleto,1,273.22,e08e569cab13d0c5d8b0899056edf5af,delivered,2018-01-12 15:28:49,2018-01-13 02:06:32,2018-01-16 18:19:06,2018-02-06 15:41:31,2018-02-08,9802486c19789491798384927fd28c30,4,3ac652bdb8a0de18c0a73ce11f88efed,88075,florianopolis,SC,-27.589171,-48.579840,florianopolis,SC
117328,2b6535d32c6996c9478c131a8ff17a05,construcao_ferramentas_seguranca,50.0,428.0,2.0,333.0,16.0,9.0,10.0,b3e5d245a95dd6378330cc2249d9d6b4,2,e64882b4ef12aee8d0faca4db5b681f4,2018-01-18 02:06:32,115.00,21.61,74210,goiania,GO,-16.693725,-49.277801,goiania,GO,both,1,boleto,1,273.22,e08e569cab13d0c5d8b0899056edf5af,delivered,2018-01-12 15:28:49,2018-01-13 02:06:32,2018-01-16 18:19:06,2018-02-06 15:41:31,2018-02-08,9802486c19789491798384927fd28c30,4,3ac652bdb8a0de18c0a73ce11f88efed,88075,florianopolis,SC,-27.589171,-48.579840,florianopolis,SC

In [214]:
pd.set_option('display.max_columns', None)

In [215]:
dataset[dataset['geolocation_state_seller']!=dataset['seller_state']]

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,order_id,order_item_id,seller_id,shipping_limit_date,price,freight_value,zip_code_prefix_customer,seller_city,seller_state,geolocation_lat_customer,geolocation_lng_customer,geolocation_city_customer,geolocation_state_customer,right,payment_sequential,payment_type,payment_installments,payment_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,customer_unique_id,zip_code_prefix_seller,customer_city,customer_state,geolocation_lat_seller,geolocation_lng_seller,geolocation_city_seller,geolocation_state_seller
1,a035b83b3628decee6e3823924e0c10f,perfumaria,53.0,2235.0,3.0,1450.0,20.0,25.0,20.0,b18cb761efbe70da4838435a349abd07,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-07-06 19:31:03,268.38,21.07,3694,sao paulo,SP,-23.537922,-46.477696,sao paulo,SP,both,1,credit_card,10,289.45,9ff6d1a05ecfe2d907adac11a2e2bfe9,delivered,2018-07-04 18:39:28,2018-07-05 16:33:14,2018-07-05 13:21:00,2018-07-10 22:34:39,2018-07-27,0f0f85749cb82321d902e390a9c33694,4,fc68ba9c34778e17224154c255b5656e,84200,jaguariaiva,PR,-24.256442,-49.709951,jaguariaíva,PR
4,ccac9976bafbf7e587bd2c29302e2314,perfumaria,53.0,2235.0,3.0,1500.0,20.0,25.0,20.0,206d1a13596872a713dba14504fdf699,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-08-01 16:35:17,268.38,18.07,3694,sao paulo,SP,-23.537922,-46.477696,sao paulo,SP,both,1,credit_card,8,286.45,58c5eb8e7844d1ecd85128e663f49e04,delivered,2018-07-29 20:50:22,2018-07-30 18:31:13,2018-08-01 15:24:00,2018-08-06 18:36:46,2018-08-15,36b616f738d1f617cc12aeb2c01705f3,3,1b6d2664b20a04a1fa9c900aedf29440,71920,brasilia,DF,-15.829934,-48.032895,brasilia,DF
7,ba63ad9eaf3dc6369f8187e7251c0870,perfumaria,38.0,1813.0,3.0,5850.0,27.0,20.0,35.0,090d23542dd542b9a9e25fa9d5d9e528,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-06-11 14:52:02,349.97,59.00,3694,sao paulo,SP,-23.537922,-46.477696,sao paulo,SP,both,1,credit_card,8,408.97,73d09f34ade23726e0b2388af3b357e4,delivered,2018-06-01 14:31:54,2018-06-01 14:52:02,2018-06-04 15:21:00,2018-06-14 12:41:22,2018-07-17,7b478d5f58db8f13e3c40f3184740395,5,2fbed526955cf9cfa88dfc3a1c73463e,64490,regeneracao,PI,-6.227943,-42.685033,regeneração,PI
8,ba63ad9eaf3dc6369f8187e7251c0870,perfumaria,38.0,1813.0,3.0,5850.0,27.0,20.0,35.0,25b0aadbfdbdc6fcc91820762f6aaf35,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-08-20 22:50:22,349.97,37.80,3694,sao paulo,SP,-23.537922,-46.477696,sao paulo,SP,both,1,credit_card,10,387.77,0d93e3fecae11d6f2348610c93841603,delivered,2018-08-15 22:57:05,2018-08-16 22:50:22,2018-08-17 15:24:00,2018-08-24 00:03:38,2018-09-05,b683ccd4c9c4ce2bbe8fa1bf9702bf42,5,4f1a8d703d88162a87bf13b50ef9c75f,89224,joinville,SC,-26.270135,-48.808761,joinville,SC
13,d6c69817b519edddbf1b289631b7160e,perfumaria,38.0,1813.0,3.0,4800.0,27.0,20.0,35.0,a29c6282a6e4ec30881051cfaa99029c,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-06-22 17:31:11,349.97,25.25,3694,sao paulo,SP,-23.537922,-46.477696,sao paulo,SP,both,1,credit_card,8,375.22,d556f45dce3c770a756fdd5175b2a558,delivered,2018-06-20 17:18:04,2018-06-20 17:41:38,2018-06-21 13:09:00,2018-06-27 17:56:41,2018-07-17,8bd584c5a0d0bf3dfc77b188ae9f2fa7,5,ae2ab4311ac09857f7d3679259d6882f,28495,aperibe,RJ,-21.621895,-42.101295,aperibe,RJ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117324,daf9915404caf75fa1717a436b46fa14,moveis_decoracao,63.0,379.0,5.0,1400.0,33.0,15.0,30.0,5d36e8ca3ccd1262b7641467fdba0b8e,1,0f519b0d2e5eb2227c93dd25038bfc01,2017-01-31 12:10:46,79.90,23.00,14940,ibitinga,SP,-21.766477,-48.831547,ibitinga,SP,both,1,credit_card,1,102.90,3b2b96751131c948164edc5d21d27abb,delivered,2017-01-27 12:10:46,2017-01-27 12:31:29,2017-01-30 10:26:15,2017-02-08 18:42:20,2017-03-20,e587cf1954fc358343a8c510c8694269,5,55b3a0a9998356016bbb072bf8c188a6,60830,fortaleza,CE,-3.811166,-38.478645,fortaleza,CE
117325,b0498e44190727b728ae4490f2e9b6a5,malas_acessorios,25.0,712.0,4.0,5250.0,34.0,23.0,40.0,8edaa376e19d08bc84ab8845682216b4,1,dda37071807e404c5bb2a1590c66326f,2018-04-30 09:30:37,199.99,19.28,3282,sao paulo,SP,-23.590854,-46.541398,são paulo,SP,both,1,credit_card,1,219.27,4c1e29ec2ed2feac441cf24b25262ed2,delivered,2018-04-24 08:37:20,2018-04-24 17:26:25,2018-04-25 12:24:00,2018-05-10 22:36:37,2018-05-14,7bbe7636141510158aa577dcfd017b13,5,913a4e0cb7fe555e6cffa875ecd58e2e,28455,sao jose de uba,RJ,-21.358247,-41.941457,sao jose de uba,RJ
117326,80b391b2dc6c958ef3ad34fa7ee01423,automotivo,17.0,306.0,4.0,200.0,26.0,4.0,13.0,635c8d3ab47b7448b5d6c81dc9b7526e,1,3aa3c89ae3cd482385568be76120f63c,2018-06-14 02:57:41,29.90,19.04,74343,goiania,GO,-16.736001,-49.302574,goiania,GO,both,1,boleto,1,48.94,d7b2339f118be9c6d98389f6d0c370d4,delivered,2018-06-07 22:36:29,2018-06-09 02:57:41,2018-06-14 13:59:00,2018-06-18 18:33:50,2018-06-26,0a954efcadecd2bfa871c46f5fd05308,4,0c2bb0bab2bf22858fa762d320a326bb,3729,sao paulo,SP,-23.502989,-46.503500,sao paulo,SP
117327,2b6535d32c6996c9478c131a8ff17a05,construcao_ferramentas_seguranca,50.0,428.0,2.0,333.0,16.0,9.0,10.0,b3e5d245a95dd6378330cc2249d9d6b4,1,e64882b4ef12aee8d0faca4db5b681f4,2018-01-18 02:06:32,115.00,21.61,74210,goiania,GO,-16.693725,-49.277801,goiania,GO,both,1,boleto,1,273.22,e08e569cab13d0c5d8b0899056edf5af,delivered,2018-01-12 15:28:49,2018-01-13 02:06:32,2018-01-16 18:19:06,2018-02-06 15:41:31,2018-02-08,9802486c19789491798384927fd28c30,4,3ac652bdb8a0de18c0a73ce11f88efed,88075,florianopolis,SC,-27.589171,-48.579840,florianopolis,SC
117328,2b6535d32c6996c9478c131a8ff17a05,construcao_ferramentas_seguranca,50.0,428.0,2.0,333.0,16.0,9.0,10.0,b3e5d245a95dd6378330cc2249d9d6b4,2,e64882b4ef12aee8d0faca4db5b681f4,2018-01-18 02:06:32,115.00,21.61,74210,goiania,GO,-16.693725,-49.277801,goiania,GO,both,1,boleto,1,273.22,e08e569cab13d0c5d8b0899056edf5af,delivered,2018-01-12 15:28:49,2018-01-13 02:06:32,2018-01-16 18:19:06,2018-02-06 15:41:31,2018-02-08,9802486c19789491798384927fd28c30,4,3ac652bdb8a0de18c0a73ce11f88efed,88075,florianopolis,SC,-27.589171,-48.579840,florianopolis,SC

In [216]:
#71839 mismatched values
# I decided to drop seller_city and seller_state because geolocation_city and geolocation_state are accurate
dataset.drop(columns = ['seller_city', 'seller_state'],axis=1,inplace=True)

In [217]:
dataset.shape

(112660, 42)

In [218]:
#Check mismatched values for customers
dataset[dataset['geolocation_state_customer']!=dataset['customer_state']]

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,order_id,order_item_id,seller_id,shipping_limit_date,price,freight_value,zip_code_prefix_customer,geolocation_lat_customer,geolocation_lng_customer,geolocation_city_customer,geolocation_state_customer,right,payment_sequential,payment_type,payment_installments,payment_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,customer_unique_id,zip_code_prefix_seller,customer_city,customer_state,geolocation_lat_seller,geolocation_lng_seller,geolocation_city_seller,geolocation_state_seller
1,a035b83b3628decee6e3823924e0c10f,perfumaria,53.0,2235.0,3.0,1450.0,20.0,25.0,20.0,b18cb761efbe70da4838435a349abd07,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-07-06 19:31:03,268.38,21.07,3694,-23.537922,-46.477696,sao paulo,SP,both,1,credit_card,10,289.45,9ff6d1a05ecfe2d907adac11a2e2bfe9,delivered,2018-07-04 18:39:28,2018-07-05 16:33:14,2018-07-05 13:21:00,2018-07-10 22:34:39,2018-07-27,0f0f85749cb82321d902e390a9c33694,4,fc68ba9c34778e17224154c255b5656e,84200,jaguariaiva,PR,-24.256442,-49.709951,jaguariaíva,PR
4,ccac9976bafbf7e587bd2c29302e2314,perfumaria,53.0,2235.0,3.0,1500.0,20.0,25.0,20.0,206d1a13596872a713dba14504fdf699,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-08-01 16:35:17,268.38,18.07,3694,-23.537922,-46.477696,sao paulo,SP,both,1,credit_card,8,286.45,58c5eb8e7844d1ecd85128e663f49e04,delivered,2018-07-29 20:50:22,2018-07-30 18:31:13,2018-08-01 15:24:00,2018-08-06 18:36:46,2018-08-15,36b616f738d1f617cc12aeb2c01705f3,3,1b6d2664b20a04a1fa9c900aedf29440,71920,brasilia,DF,-15.829934,-48.032895,brasilia,DF
7,ba63ad9eaf3dc6369f8187e7251c0870,perfumaria,38.0,1813.0,3.0,5850.0,27.0,20.0,35.0,090d23542dd542b9a9e25fa9d5d9e528,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-06-11 14:52:02,349.97,59.00,3694,-23.537922,-46.477696,sao paulo,SP,both,1,credit_card,8,408.97,73d09f34ade23726e0b2388af3b357e4,delivered,2018-06-01 14:31:54,2018-06-01 14:52:02,2018-06-04 15:21:00,2018-06-14 12:41:22,2018-07-17,7b478d5f58db8f13e3c40f3184740395,5,2fbed526955cf9cfa88dfc3a1c73463e,64490,regeneracao,PI,-6.227943,-42.685033,regeneração,PI
8,ba63ad9eaf3dc6369f8187e7251c0870,perfumaria,38.0,1813.0,3.0,5850.0,27.0,20.0,35.0,25b0aadbfdbdc6fcc91820762f6aaf35,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-08-20 22:50:22,349.97,37.80,3694,-23.537922,-46.477696,sao paulo,SP,both,1,credit_card,10,387.77,0d93e3fecae11d6f2348610c93841603,delivered,2018-08-15 22:57:05,2018-08-16 22:50:22,2018-08-17 15:24:00,2018-08-24 00:03:38,2018-09-05,b683ccd4c9c4ce2bbe8fa1bf9702bf42,5,4f1a8d703d88162a87bf13b50ef9c75f,89224,joinville,SC,-26.270135,-48.808761,joinville,SC
13,d6c69817b519edddbf1b289631b7160e,perfumaria,38.0,1813.0,3.0,4800.0,27.0,20.0,35.0,a29c6282a6e4ec30881051cfaa99029c,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-06-22 17:31:11,349.97,25.25,3694,-23.537922,-46.477696,sao paulo,SP,both,1,credit_card,8,375.22,d556f45dce3c770a756fdd5175b2a558,delivered,2018-06-20 17:18:04,2018-06-20 17:41:38,2018-06-21 13:09:00,2018-06-27 17:56:41,2018-07-17,8bd584c5a0d0bf3dfc77b188ae9f2fa7,5,ae2ab4311ac09857f7d3679259d6882f,28495,aperibe,RJ,-21.621895,-42.101295,aperibe,RJ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117324,daf9915404caf75fa1717a436b46fa14,moveis_decoracao,63.0,379.0,5.0,1400.0,33.0,15.0,30.0,5d36e8ca3ccd1262b7641467fdba0b8e,1,0f519b0d2e5eb2227c93dd25038bfc01,2017-01-31 12:10:46,79.90,23.00,14940,-21.766477,-48.831547,ibitinga,SP,both,1,credit_card,1,102.90,3b2b96751131c948164edc5d21d27abb,delivered,2017-01-27 12:10:46,2017-01-27 12:31:29,2017-01-30 10:26:15,2017-02-08 18:42:20,2017-03-20,e587cf1954fc358343a8c510c8694269,5,55b3a0a9998356016bbb072bf8c188a6,60830,fortaleza,CE,-3.811166,-38.478645,fortaleza,CE
117325,b0498e44190727b728ae4490f2e9b6a5,malas_acessorios,25.0,712.0,4.0,5250.0,34.0,23.0,40.0,8edaa376e19d08bc84ab8845682216b4,1,dda37071807e404c5bb2a1590c66326f,2018-04-30 09:30:37,199.99,19.28,3282,-23.590854,-46.541398,são paulo,SP,both,1,credit_card,1,219.27,4c1e29ec2ed2feac441cf24b25262ed2,delivered,2018-04-24 08:37:20,2018-04-24 17:26:25,2018-04-25 12:24:00,2018-05-10 22:36:37,2018-05-14,7bbe7636141510158aa577dcfd017b13,5,913a4e0cb7fe555e6cffa875ecd58e2e,28455,sao jose de uba,RJ,-21.358247,-41.941457,sao jose de uba,RJ
117326,80b391b2dc6c958ef3ad34fa7ee01423,automotivo,17.0,306.0,4.0,200.0,26.0,4.0,13.0,635c8d3ab47b7448b5d6c81dc9b7526e,1,3aa3c89ae3cd482385568be76120f63c,2018-06-14 02:57:41,29.90,19.04,74343,-16.736001,-49.302574,goiania,GO,both,1,boleto,1,48.94,d7b2339f118be9c6d98389f6d0c370d4,delivered,2018-06-07 22:36:29,2018-06-09 02:57:41,2018-06-14 13:59:00,2018-06-18 18:33:50,2018-06-26,0a954efcadecd2bfa871c46f5fd05308,4,0c2bb0bab2bf22858fa762d320a326bb,3729,sao paulo,SP,-23.502989,-46.503500,sao paulo,SP
117327,2b6535d32c6996c9478c131a8ff17a05,construcao_ferramentas_seguranca,50.0,428.0,2.0,333.0,16.0,9.0,10.0,b3e5d245a95dd6378330cc2249d9d6b4,1,e64882b4ef12aee8d0faca4db5b681f4,2018-01-18 02:06:32,115.00,21.61,74210,-16.693725,-49.277801,goiania,GO,both,1,boleto,1,273.22,e08e569cab13d0c5d8b0899056edf5af,delivered,2018-01-12 15:28:49,2018-01-13 02:06:32,2018-01-16 18:19:06,2018-02-06 15:41:31,2018-02-08,9802486c19789491798384927fd28c30,4,3ac652bdb8a0de18c0a73ce11f88efed,88075,florianopolis,SC,-27.589171,-48.579840,florianopolis,SC
117328,2b6535d32c6996c9478c131a8ff17a05,construcao_ferramentas_seguranca,50.0,428.0,2.0,333.0,16.0,9.0,10.0,b3e5d245a95dd6378330cc2249d9d6b4,2,e64882b4ef12aee8d0faca4db5b681f4,2018-01-18 02:06:32,115.00,21.61,74210,-16.693725,-49.277801,goiania,GO,both,1,boleto,1,273.22,e08e569cab13d0c5d8b0899056edf5af,delivered,2018-01-12 15:28:49,2018-01-13 02:06:32,2018-01-16 18:19:06,2018-02-06 15:41:31,2018-02-08,9802486c19789491798384927fd28c30,4,3ac652bdb8a0de18c0a73ce11f88efed,88075,florianopolis,SC,-27.589171,-48.579840,florianopolis,SC

In [219]:
dataset[dataset["geolocation_city_customer"]!=dataset["customer_city"]][["geolocation_city_customer","customer_city"]]

       geolocation_city_customer    customer_city
0                      sao paulo       mogi-guacu
1                      sao paulo      jaguariaiva
3           campo limpo paulista        sao paulo
4                      sao paulo         brasilia
6                      sao paulo      santo andre
...                          ...              ...
117324                  ibitinga        fortaleza
117325                 são paulo  sao jose de uba
117326                   goiania        sao paulo
117327                   goiania    florianopolis
117328                   goiania    florianopolis

[107675 rows x 2 columns]

In [220]:
dataset.drop(columns = ['right'],axis=1,inplace=True)

In [221]:
dataset.shape

(112660, 41)

In [222]:
#I decided to drop customer_city and customer_state for a matter of consistency, since I left the geolocation_state_seller and city.
dataset.drop(columns = ['customer_state', 'customer_city' ],axis=1,inplace=True)

In [223]:
dataset.shape

(112660, 39)

In [224]:
#Rename columns to improve readability
dataset.rename(columns = {"geolocation_state_seller":"seller_state","geolocation_city_seller":"seller_city",
                    "geolocation_lng_seller":"lng_seller","geolocation_lat_seller":"lat_seller",
                    "geolocation_lng_customer":"lng_customer","geolocation_lat_customer":"lat_customer",
                    "geolocation_city_customer":"customer_city","geolocation_state_customer":"customer_state"}, inplace = True)

In [225]:
#Check payments frequency
dataset['payment_type'].value_counts(dropna = False)

credit_card    83108
boleto         21927
voucher         6003
debit_card      1622
Name: payment_type, dtype: int64

In [226]:
dataset['payment_installments'].value_counts(dropna = False)

1     56157
2     13106
3     11264
4      7660
10     6590
5      5772
8      4844
6      4427
7      1729
9       693
12      160
15       88
18       38
24       34
11       21
20       19
13       18
14       15
16        7
17        7
21        6
0         3
22        1
23        1
Name: payment_installments, dtype: int64

In [227]:
#Find the records
dataset[dataset["payment_installments"]==0]

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,order_id,order_item_id,seller_id,shipping_limit_date,price,freight_value,zip_code_prefix_customer,lat_customer,lng_customer,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,customer_unique_id,zip_code_prefix_seller,lat_seller,lng_seller,seller_city,seller_state
73070,db35a562fb6ba63e19fa42a15349dc04,utilidades_domesticas,56.0,235.0,1.0,500.0,23.0,11.0,23.0,1a57108394169c0b47d8f876acc9ba2d,1,282f23a9769b2690c5dda22e316f9941,2018-05-18 16:31:54,41.69,23.28,31573,-19.809042,-43.990070,belo horizonte,MG,2,credit_card,0,129.94,48ebb06cf56dba9d009230cc751bb195,delivered,2018-05-15 16:25:14,2018-05-15 16:36:52,2018-05-17 12:37:00,2018-05-24 15:45:41,2018-06-06,bc5dca6c957c328b1cbff760b0841fd2,5,9925e1d7dff0d807355599dee04830ab,44001,-12.255025,-38.965692,feira de santana,BA
73071,db35a562fb6ba63e19fa42a15349dc04,utilidades_domesticas,56.0,235.0,1.0,500.0,23.0,11.0,23.0,1a57108394169c0b47d8f876acc9ba2d,2,282f23a9769b2690c5dda22e316f9941,2018-05-18 16:31:54,41.69,23.28,31573,-19.809042,-43.990070,belo horizonte,MG,2,credit_card,0,129.94,48ebb06cf56dba9d009230cc751bb195,delivered,2018-05-15 16:25:14,2018-05-15 16:36:52,2018-05-17 12:37:00,2018-05-24 15:45:41,2018-06-06,bc5dca6c957c328b1cbff760b0841fd2,5,9925e1d7dff0d807355599dee04830ab,44001,-12.255025,-38.965692,feira de santana,BA
77797,0cf573090c66bb30ac5e53c82bdb0403,telefonia,26.0,108.0,1.0,128.0,15.0,8.0,13.0,744bade1fcf9ff3f31d860ace076d422,1,7202e2ba20579a9bd1acb29e61fe71f6,2018-04-26 12:31:06,45.90,12.79,14401,-20.530671,-47.398519,franca,SP,2,credit_card,0,58.69,5e5794daaa13f73e2f1cdb4114529843,delivered,2018-04-22 11:34:42,2018-04-24 19:04:46,2018-04-24 03:14:34,2018-04-27 20:55:28,2018-05-16,c56b4b7042f417e70d3dc5340deb23fe,5,f54cea27c80dc09bfe07b1cf1e01b845,5263,-23.433009,-46.581386,sao paulo,SP

In [229]:
dataset.drop(dataset.index[[73070,73071,77797]],axis=0,inplace=True)

In [230]:
dataset.shape

(112657, 39)

In [231]:
#Using the category names in english
dataset = pd.merge(dataset,categories,how="left",on="product_category_name")

In [232]:
dataset.shape

(112657, 40)

In [233]:
dataset.head(3)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,order_id,order_item_id,seller_id,shipping_limit_date,price,freight_value,zip_code_prefix_customer,lat_customer,lng_customer,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,customer_unique_id,zip_code_prefix_seller,lat_seller,lng_seller,seller_city,seller_state,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,e17e4f88e31525f7deef66779844ddce,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-04-30 17:33:54,10.91,7.39,3694,-23.537922,-46.477696,sao paulo,SP,1,debit_card,1,18.30,f8a3e963a310aa58b60a5b1fed5bceb5,delivered,2018-04-24 16:16:53,2018-04-24 19:04:19,2018-04-25 17:01:00,2018-04-27 16:42:17,2018-05-09,d71da8fd8c6e3adef26be965f065b8a1,5,b1a1199364a4a7fe27c4486ab63f550d,13848,-22.331249,-46.922580,mogi guaçu,SP,perfumery
1,a035b83b3628decee6e3823924e0c10f,perfumaria,53.0,2235.0,3.0,1450.0,20.0,25.0,20.0,b18cb761efbe70da4838435a349abd07,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-07-06 19:31:03,268.38,21.07,3694,-23.537922,-46.477696,sao paulo,SP,1,credit_card,10,289.45,9ff6d1a05ecfe2d907adac11a2e2bfe9,delivered,2018-07-04 18:39:28,2018-07-05 16:33:14,2018-07-05 13:21:00,2018-07-10 22:34:39,2018-07-27,0f0f85749cb82321d902e390a9c33694,4,fc68ba9c34778e17224154c255b5656e,84200,-24.256442,-49.709951,jaguariaíva,PR,perfumery
2,091107484dd7172f5dcfed173e4a960e,perfumaria,50.0,260.0,2.0,183.0,16.0,8.0,13.0,a7708ffa8966514c098d15e1abfa6417,1,5670f4db5b62c43d542e1b2d56b0cf7c,2018-04-27 19:31:35,7.65,10.55,3694,-23.537922,-46.477696,sao paulo,SP,1,credit_card,2,57.75,360782688ff472f1adbd47a85861751e,delivered,2018-04-23 19:03:35,2018-04-24 19:17:45,2018-04-24 16:22:36,2018-04-25 23:02:39,2018-05-15,39489f8518181b82cb86ce264e1ccc55,5,c67329fd07872a68d6d6d1f1626a0760,3804,-23.502716,-46.482996,sao paulo,SP,perfumery

In [234]:
#Check for null values
dataset.isnull().sum()

product_id                        0
product_category_name             0
product_name_lenght               0
product_description_lenght        0
product_photos_qty                0
product_weight_g                  0
product_length_cm                 0
product_height_cm                 0
product_width_cm                  0
order_id                          0
order_item_id                     0
seller_id                         0
shipping_limit_date               0
price                             0
freight_value                     0
zip_code_prefix_customer          0
lat_customer                      0
lng_customer                      0
customer_city                     0
customer_state                    0
payment_sequential                0
payment_type                      0
payment_installments              0
payment_value                     0
customer_id                       0
order_status                      0
order_purchase_timestamp          0
order_approved_at                 0
order_delivered_carrier_date      0
order_delivered_customer_date     0
order_estimated_delivery_date     0
review_id                         0
review_score                      0
customer_unique_id                0
zip_code_prefix_seller            0
lat_seller                        0
lng_seller                        0
seller_city                       0
seller_state                      0
product_category_name_english    23
dtype: int64

In [236]:
dataset[dataset["product_category_name_english"].isnull()==True]["product_category_name"].value_counts()

portateis_cozinha_e_preparadores_de_alimentos    14
pc_gamer                                          9
Name: product_category_name, dtype: int64

In [237]:
#Creating names for these two categories
null_1 = dataset[dataset["product_category_name"]=="portateis_cozinha_e_preparadores_de_alimentos"]["product_category_name_english"]
null_2 = dataset[dataset["product_category_name"]=="pc_gamer"]["product_category_name_english"]

In [239]:
dataset.loc[null_1.index,"product_category_name_english"] = "kitchen_and_utensils"
dataset.loc[null_2.index,"product_category_name_english"] = "pc_gamer"

In [240]:
#Drop the column product_category_name
dataset.drop(columns = ['product_category_name'],axis=1,inplace=True)

In [241]:
dataset.shape

(112657, 39)

In [242]:
#Rename product_category_name_english
dataset.rename(columns = {"product_category_name_english":"product_category_name"}, inplace = True)

In [243]:
dataset.isnull().sum()

product_id                       0
product_name_lenght              0
product_description_lenght       0
product_photos_qty               0
product_weight_g                 0
product_length_cm                0
product_height_cm                0
product_width_cm                 0
order_id                         0
order_item_id                    0
seller_id                        0
shipping_limit_date              0
price                            0
freight_value                    0
zip_code_prefix_customer         0
lat_customer                     0
lng_customer                     0
customer_city                    0
customer_state                   0
payment_sequential               0
payment_type                     0
payment_installments             0
payment_value                    0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
review_id                        0
review_score                     0
customer_unique_id               0
zip_code_prefix_seller           0
lat_seller                       0
lng_seller                       0
seller_city                      0
seller_state                     0
product_category_name            0
dtype: int64

In [244]:
#Saving the data in folder Prepared Data
dataset.to_csv(os.path.join(path, '02 Data','Prepared Data', 'clean_data.csv'))

In [ ]:
# There is not much difference